{% extends "base.html" %}
{% block title %}Admin Dashboard{% endblock %}
{% block content %}
<h3>Admin Dashboard</h3>
<div class="row g-3">
  <div class="col-md-4"><div class="card p-3"><h5>Rechnungen</h5><p class="display-6">{{ stats.invoice_count }}</p></div></div>
  <div class="col-md-4"><div class="card p-3"><h5>Offene Tickets</h5><p class="display-6">{{ stats.open_tickets }}</p></div></div>
  <div class="col-md-4"><div class="card p-3"><h5>In Bearbeitung</h5><p class="display-6">{{ stats.in_progress_tickets }}</p></div></div>
</div>
{% endblock %}

